@model AgendaVoluntarios.DTO.InputModels.EditMusicInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Música</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Key" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nome</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Key" class="control-label">Tom</label>
                        <input asp-for="Key" type="text" class="form-control" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                </div>*@
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-primary float-start" />
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary float-end">Voltar à Lista</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
